.card {
  width: 300px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
 
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.card-content p {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 8px 15px;
  background: #3498db;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background: #2980b9;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.old-price {
      text-decoration: line-through;
      color: red;
      margin-right: 10px;
    }
    .new-price {
      color: green;
      font-weight: bold;
    }